html,
body {
    margin: 3px;
    padding: 3px
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

body h1 {
    text-align: center;
    font-family: arial;
}

body ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 80%;
    height: 0;
    overflow: hidden;
}

div.section.open ul {
    height: auto;
}

body ul li {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

div.section.open {
    padding-bottom: 20px;

    border-bottom: 3px solid #3f87a6;
    position: relative;

    border-bottom-width: 3px;

}
.mainHeading{
    margin: 1em 0 0.5em 0;
    color: #355681;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

#tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

#tabs a {
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  font-family: arial;
  padding: 10px;
}

#tabs:hover a {
  color: #999;
}

#tabs a:hover {
  color: black;
}

.anchor {
    position: absolute;
    top: -40px; /* so that the tabs don't block the title */
    display: block;
}

.title {
    margin: 1em 0 0.5em 0;
    font-weight: normal;
    position: relative;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
    font-size: 28px;
    line-height: 40px;
    background: #355681;
    background: rgba(33, 96, 236, 1);
    border: 1px solid #fff;
    padding: 5px 15px;
    color: white;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px rgba(43, 105, 156, 0.5);
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
    width: 40px;
    background-image: url('./images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 24px;
    -webkit-filter: drop-shadow(0 -1px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0 -1px rgba(0, 0, 0, 0.6));
}

div.section.open .title::after {
  background-image: url('./images/arrow-up.svg');
}

div.desc {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.imageContainer {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    color: black;
    text-decoration: none;
}

.imageContainer:hover {
    border: 1px solid #777;
}

.imageContainer img {
    width: 100%;
    height: auto;
}
